@model IEnumerable<DesafioMVC.Models.Property>
@{
    Layout = "_LayoutAdmin";
}

<script>
    $(document).ready(function () {
        $('#property').DataTable({
            "info": false,
            "language": {
                "lengthMenu": "Mostrando _MENU_ registros por página",
                "zeroRecords": "Desculpa, nada encontrado",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Nenhum registro disponível",
                "search": "Buscar:",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Último",
                    "next": "Próximo",
                    "previous": "Anterior"
                }
            },
            "dom": "<'row'<'col-sm-12 col-md-6'f><'col-sm-12 col-md-6 text-right'l>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
        });
    });
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">content_copy</i>
                    </div>
                    <br>
                    <h3 class="card-title">Categorias</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <a asp-controller="Admin" asp-action="Categories">Ver todas</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">store</i>
                    </div>
                    <br>
                    <h3 class="card-title">Negócios</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">date_range</i>
                        <a asp-controller="Admin" asp-action="Businesses">Ver todos</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">info_outline</i>
                    </div>
                    <br>
                    <h3 class="card-title">Imóveis</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">local_offer</i>
                        <a asp-controller="Admin" asp-action="Properties">Ver todos</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">content_copy</i>
                    </div>
                    <br>
                    <h3 class="card-title">Estados</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons text-danger">warning</i>
                        <a asp-controller="Admin" asp-action="States">Ver todos</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">store</i>
                    </div>
                    <br>
                    <h3 class="card-title">Municípios</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">date_range</i>
                        <a asp-controller="Admin" asp-action="Cities">Ver todos</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">info_outline</i>
                    </div>
                    <br>
                    <h3 class="card-title">Bairros</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">local_offer</i>
                        <a asp-controller="Admin" asp-action="Districts">Ver todos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Properties Table -->
    <div class="row">
        <div class="card">
            <div class="card-header card-header-primary">
                <div class="row">
                    <div class="col">
                        <h2 class="card-title">Imóveis</h2> 
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" id="property">
                        <thead class="text-primary">
                            <tr>
                                <th>Id</th>
                                <th>Categoria</th>
                                <th>Negócio</th>
                                <th>Nº quartos</th>
                                <th>Endereço</th>
                                <th>Bairro</th>
                                <th>Município</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var property in Model) {
                                <tr>
                                    <td>@property.Id</td>
                                    <td>@property.Category.Name</td>
                                    <td>@property.Business.Name</td>
                                    <td>@property.Rooms</td>
                                    <td>@property.Address</td>
                                    <td>@property.District.Name</td>
                                    <td>@property.District.City.Name</td>
                                    <td>@property.District.City.State.Uf</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
