@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@model DesafioMVC.DTO.SearchDataDTO

@{
    ViewData["Title"] = "HomePage";
}

<div id="carouselExampleSlidesOnly" class="carousel slide full-width" data-ride="carousel">
    <div class="carousel-inner" style="z-index: -1;">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/img/home.png" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/img/home2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/img/home3.jpg" alt="Third slide">
        </div>
    </div>
</div>
@if (SignInManager.IsSignedIn(User)) {
    <br>
    <h4 class="text-primary d-table" style="margin-top: -62px; background-color: white; padding: 10px;">
        <span class="material-icons align-text-bottom">menu</span> 
        Busca detalhada
    </h4><br>
    <form class="form-horizontal" asp-controller="Home" asp-action="Search" method="POST">
        <div class="row">
            <div class="col-md col-12 mb-md-0 mb-2">
                <label asp-for="CategoryId"><strong>Qual o tipo?</strong></label>
                <select asp-for="CategoryId" class="form-control" asp-items='@(new SelectList(@ViewBag.Categories, "Id", "Name"))'>
                    <option value="">Qualquer tipo</option>
                </select>
            </div>
            <div class="col-md col-12 mb-md-0 mb-2">
                <label asp-for="BusinessId"><strong>O que você precisa?</strong></label>
                <select asp-for="BusinessId" class="form-control" asp-items='@(new SelectList(@ViewBag.Businesses, "Id", "Name"))'>
                    <option value="">Qualquer negócio</option>
                </select>
            </div>
            <div class="col-md col-12 mb-2">
                <label asp-for="Rooms"><strong>Nº de quartos</strong></label>
                <input type="number" asp-for="Rooms" class="form-control" placeholder="Qualquer quantidade">
            </div>
        </div>
        <div class="row">
            <div class="col-xl-2 col-md-3 col-12 mb-md-0 mb-2">
                <label asp-for="StateId"><strong>Estado</strong></label>
                    <select asp-for="StateId" class="form-control" id="state" asp-items='@(new SelectList(@ViewBag.States, "Id", "Uf"))'>
                        <option value="">Qualquer estado</option>
                </select>
            </div>
            <div class="col-xl-5 col-md-4 col-12 mb-md-0 mb-2">
                <label asp-for="CityId"><strong>Município</strong></label>
                <select asp-for="CityId" disabled class="form-control" id="city">
                    <option value="">Qualquer município</option>
                </select>
            </div>
            <div class="col-md-5 col-12">
                <label asp-for="DistrictId"><strong>Bairro</strong></label>
                <select asp-for="DistrictId" disabled class="form-control" id="district">
                    <option value="">Qualquer bairro</option>
                </select>
            </div>
        </div><br>
        <div class="row">
            <div class="col text-right">
                <button class="btn btn-outline-primary text-right">Buscar</button>
            </div>
        </div>
    </form>
    <script>
        const citySelect = document.getElementById("city")
        const districtSelect = document.getElementById("district")

        async function citiesFetch() {
            const stateSelect = document.getElementById("state")

            stateSelect.addEventListener("change", async event => {
                const stateId = event.target.value

                if (stateId === "") {
                    citySelect.setAttribute("disabled", undefined)
                    districtSelect.setAttribute("disabled", undefined)
                } else {
                    citySelect.removeAttribute("disabled")
                }

                const res = await fetch(`https://localhost:5001/Cities/CitiesByState/${stateId}`)
                const cities = await res.json()

                const districtSelectOption = '<option value="">Qualquer bairro</option>'
                let citySelectOptions = '<option value="">Qualquer município</option>'
                cities.forEach(city => {
                    let option = `<option value="${city.id}">${city.name}</option>`
                    citySelectOptions = citySelectOptions.concat(option)
                })

                citySelect.innerHTML = citySelectOptions
                districtSelect.innerHTML = districtSelectOption
            })
        }

        function districtsFetch() {
            citySelect.addEventListener("change", async event => {
                const cityId = event.target.value

                if (cityId === "") {
                    districtSelect.setAttribute("disabled", undefined)
                } else {
                    districtSelect.removeAttribute("disabled")
                }

                const res = await fetch(`https://localhost:5001/Districts/DistrictsByState/${cityId}`)
                const districts = await res.json()

                let districtSelectOptions = '<option value="">Qualquer bairro</option>'
                districts.forEach(district => {
                    let option = `<option value="${district.id}">${district.name}</option>`
                    districtSelectOptions = districtSelectOptions.concat(option)
                })

                districtSelect.innerHTML = districtSelectOptions
            })
        }

        citiesFetch()
        districtsFetch()
    </script>
} else {
    <div class="jumbotron" style="background-color: #fff;">
        <h1 class="display-3">Imobiliaria</h1>
        <p class="lead">
            Quer comprar um imóvel que tenha a ver com o seu estilo de vida? A gente encontra pra você. 
            Quer alugar um apartamento perto da faculdade? A gente tem.
            O maior objetivo da Imobiliaria é oferecer o que você precisa.
        </p>
        <hr class="my-4">
        <p>Faça login para conhecer tudo que oferecemos.</p>
        <p class="lead">
        <a class="btn btn-outline-primary btn-lg" asp-area="Identity" asp-page="/Account/Login" role="button">Login</a>
        </p>
    </div>
}

